<h2>Reservations</h2>

<ng-container *ngIf="reservations.length > 0; else reservationsEmpty">
  <div class="reservation-container">
    <div *ngFor="let reservation of reservations" class="reservation-card">
      <div class="reservation-header">
        <h3>Reservation #{{ reservation.id }}</h3>
      </div>
      <div class="reservation-details" *ngIf="editingReservationId !== reservation.id">
        <p><strong>Room ID:</strong> {{ reservation.room }}</p>
        <p><strong>Client ID:</strong> {{ reservation.client }}</p>
        <p><strong>Start Date:</strong> {{ reservation.start_date }}</p>
        <p><strong>End Date:</strong> {{ reservation.end_date }}</p>
        <ng-container *ngIf="isStaff">
          <div class="button-group">
            <button mat-button (click)="editReservation(reservation)" color="primary">Edit Reservation</button>
            <button mat-button (click)="cancelReservation(reservation.id)" color="warn">Cancel Reservation</button>
          </div>
        </ng-container>
      </div>
      <div *ngIf="editingReservationId === reservation.id">
        <form [formGroup]="editForm" (ngSubmit)="updateReservation()">
          <div>
            <label for="room">Room ID:</label>
            <input id="room" formControlName="room">
          </div>
          <div>
            <label for="client">Client ID:</label>
            <input id="client" formControlName="client">
          </div>
          <div>
            <label for="start_date">Start Date:</label>
            <input id="start_date" formControlName="start_date" type="date">
          </div>
          <div>
            <label for="end_date">End Date:</label>
            <input id="end_date" formControlName="end_date" type="date">
          </div>
          <button type="submit" mat-button color="primary">Save</button>
          <button type="button" mat-button (click)="cancelEdit()" color="warn">Cancel</button>
        </form>
        
      </div>
    </div>
  </div>
</ng-container>

<ng-template #reservationsEmpty>
  <p>No reservations available.</p>
</ng-template>
